body {
    background-image: url("../images/pacman-background.jpg");
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(222,202,75);
    width: 100vw;
    font-family: "Press Start 2P";

}
/* figure out how to center button with time and score on either side */

#time-deal-score {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    font-size: 20px;
    font-family: "Press Start 2p";
    background-color: rgb(222,202,75);
}
#time {
    align-items: flex-start;
    margin: auto;
    font-size: 30px;
}
#deal {
    align-items: center;
    margin: auto;
    height: 40px;
    width: 150px;
    border-radius: 15px;
    border: 5px solid black;
    background-color: rgb(17,88,250);
    color: black;
    font-family: "Press Start 2p";
}
#score {
    font-size: 30px;
    margin: auto;
}

#game-board {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vh;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}  

.hidden {
    display: none !important;
}
 /*is there a way to combine all the boxes into one statement?  */
 #box1 {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(17,88,250);
    border : 5px solid rgb(222,202,75);
}
#box2 {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid rgb(234,43,46);
    
}
#box3 {
    grid-column: 3;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box4 {
    grid-column: 4;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box5 {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box6 {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box7 {
    grid-column: 3;
    grid-row: 2;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box8 {
    grid-column: 4;
    grid-row: 2;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box9 {
    grid-column: 1;
    grid-row: 3;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box10 {
    grid-column: 2;
    grid-row: 3;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box11 {
    grid-column: 3;
    grid-row: 3;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box12 {
    grid-column: 4;
    grid-row: 3;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box13 {
    grid-column: 1;
    grid-row: 4;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box14 {
    grid-column: 2;
    grid-row: 4;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box15 {
    grid-column: 3;
    grid-row: 4;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
#box16 {
    grid-column: 4;
    grid-row: 4;
    height: 100%;
    width: 100%;
    background-color: blue;
    border : 5px solid red;
    
}
